body{

}

#video-list panel-body{
    padding-left: 0px;
}
.video-image-mask{
  width: 185px;
  height:  100;
  overflow: hidden;
}
.video-image-mask .video-image{
  width: 105%;
}
.video-title{
  font-weight: bold;
  font-size: 18px;
}
.video-title a{
  color: #4444;
}
#video-player{
  width: 80%;
}
.btn-filter{
  display: block;
  margin-top: 5px;
}
